body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linkie:hover{
  color: white !important;
  background-color: green;
    transition: 0.4s !important;
}

.bar{
  padding: 0 25px;
  /* margin-left: 10%; */
}
.link {
  color: #000;
}
.link:hover{
    color: green !important;
    transition: 0.4s;
}
.paint {
    position: relative;
display: inline-flex;
}
.paint span {
    position: relative;
    z-index: 1;
}
a {
    text-decoration: none !important;
}
a:hover{
  text-decoration: none;
}
.paint:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-image: url(btn.png);
    background-size: cover;
    transform-origin: right;
    transition: 0.5s;
}
.paint:hover:before{
    width: 100%;

}
.container {
    width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  }
  
  .navigation-wrapper {
    position: relative;
  }
  .navigation-button {
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 100px;
    border-radius: 50px;
  
    background: transparent;
    cursor: pointer;
  }
  .navigation-button .fa {
    border: 1px solid black;
    border-radius: 50px;
  
    padding: 10px;
      color: black;
      font-size: x-large;
  }
  .navigation-button.white {
    background: white;
    transition: 1.5s;
  } 
  
  .navigation-menu ul li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: hsl(0,0%,70%);
  }
  
  .navigation-menu {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    background: #fff;
    border-left: 1px solid black;
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    z-index: 100;
  }
  .navigation-menu ul {
    transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 0;
    top: 19vh;
    width: 400px;
    text-align: center;
  
  }
  .navigation-menu ul li {
    position: relative;
    z-index: 99;
    font-size: x-large;
    color: black;
    line-height: 64px;
  }
  .navigation-menu ul li a {
    border: none;
    color: black;
    text-decoration: none;
  }
  .navigation-menu.active {
    transform: skewX(8deg) translate(0,0);
      
  }
  
  .navigation-menu li {
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .0s ease-in .3s;
    
  }
  .navigation-menu.active li {
    opacity: 1;
    transform: translate(0,0);
    transition: all .2s ease-in 0s;
  }
  .navigation-menu.active li:nth-child(1) {
    transition-delay: .3s;
  }
  .navigation-menu.active li:nth-child(2) {
    transition-delay: .4s;
  }
  .navigation-menu.active li:nth-child(3) {
    transition-delay: .5s;
  }
  .navigation-menu.active li:nth-child(4) {
    transition-delay: .6s;
  }
  .navigation-menu.active li:nth-child(5) {
    transition-delay: .7s;
  }
  .navigation-menu.active li:nth-child(6) {
    transition-delay: .8s;
  }
  .navigation-menu.active li:nth-child(7) {
    transition-delay: .9s;
  }
  .navigation-menu.active li:nth-child(8) {
    transition-delay: 1s;
  }
  
#sec{
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
}
.slide{
    position: relative;
    height: 100%;
    background: white;
    flex: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.slide:last-child{
    border-right: none;
}
.slide:hover{
    flex-grow: 5;
}
.slide:nth-child(1){
    background: url(il.png);
    background-position: center center;
}
.slide:nth-child(2){
    background: url(jk.png);
    background-position: center center;
}
.slide:nth-child(3){
    background: url(hi.png);
    background-position: center center;
}
.slide:nth-child(4){
    background: url(ha.png);
    background-position: center center;
}
#gets{
  margin: 10%;
}
.start {
  background-color: white;
  font-size: xx-large;
  font-family: 'Righteous', cursive;
  border: none !important;
  padding: 2%;
  font-weight: 100 !important;
  outline: none !important;
  color: black;
  
}
.start:hover {
  background-color: rgba(0, 168, 0, 0.575);
  font-size: xx-large;
  font-family: 'Righteous', cursive;
  outline: none;
  border: none !important;
  padding: 2%;
  font-weight: 100 !important;
  outline: none !important;
  color: white;
  box-shadow: inset 0px 0px 3px 2px darkgreen;
  transition-duration: 0.5s;
}

.content{
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0s;
    transform: translateY(100px);
}
.slide:hover .content{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

#about {
    display: flex;
    flex-direction: row;
    height: 110vh;
    padding: 1%;
    background-attachment: fixed; 
    background-size: cover;
   background-color: white;
}
.fa-thumbs-up{
  color: grey;
  margin: 1em;
}
.fa-thumbs-up:hover{
  color: darkgreen;
}
.fa-thumbs-down{
  color: grey;
  margin: 1em;
}
.fa-thumbs-down:hover{
  color: darkgreen;
}
#spill{
    width: 60%;
    height: 100%;
    position: relative;
    background: url(bg.jpg);
    background-size: cover;
}
#spill:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(splash.jpg);
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
}
/* .cards
{
  width: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
} */
.single
{
  position: relative;
  margin: 3em;
	width: 400px;
	height: 300px;
	background: #000;
	border: 1px solid rgb(200, 200, 200);
}
.single .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.single .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.8s;
}
.single:hover .imgBx img
{
	opacity: 0;
}
.single .detail
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 9vh;
	background: #fff;
	transition: 0.8s;
  overflow: hidden;
  padding: 9%;
  padding-top: 6%;
	box-sizing: border-box;
}
.single:hover .detail
{
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}
.single .detail h3
{
	margin: 0;
	padding: 0;
  font-size: 24px;
}
.single .detail p
{
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.8s;
	text-align: justify;
}
.single:hover .detail p
{
	opacity: 1;
	transition-delay: 0.2s;
}

.open-up{
  display: none;
position: fixed;
bottom: 0;
right: 0;
z-index: 16;
}
.gap {
  margin-left: 5%;
  font-size: 90%;
  background-color: green;
  outline: none !important;
  border: none !important;
}
.gap:hover {
  background-color: darkgreen;
  color: #000;
  outline: none !important;
  border: none !important;
  transition: 0.3s;
}
.noli {
  list-style-type: none !important;
}
.cancel{
  background-color: red !important;
  color: white !important;
  font-size: larger !important;
  z-index: 18;
  outline: none !important;
  border: none !important;
  top: 0 !important;
  width: 350;
}
#ifrm {
  padding: 0.7em !important;
  z-index: 15;
  cursor: pointer;
  bottom: 1vh;
  position: absolute;
  font-size: 165%;
  border: 1px solid rgb(199, 199, 199) !important;
  right: 1vw;
}

.clicks{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-top: 5px ;
  float: right;
}
#if-faq{
  padding: 0.7em !important;
  z-index: 15;
  cursor: pointer;
  bottom: 1vh;
  position: absolute;
  font-size: 165%;
  border: 1px solid rgb(199, 199, 199) !important;
  right: 1vw;
}
#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
#pop{
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(189, 189, 189);
  transform: translate(-50%,-50%);
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#pop.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}