{%extends 'base.htm'%}

{%block content%}
<br><br><br>
<h1>
<a href="{{url_for('cars.make_car')}}">Add Car</a></h1>
<form method="POST">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.seats.label}}{{form.seats( class = 'form-control col-md-6' ,placeholder="Seats" )}}
  </div>
  <div class="form-group">
    {{form.driver.label}}{{form.driver()}}
  </div>
  <div class="form-group">
    {{form.submit(class ="btn btn-primary")}} <a href="{{url_for('cars.show_car')}}" class = 'btn btn-primary'>Refresh</a>
  </div>
</form>
{%for r in car%}
<div style="display: inline-block;">
    <div class="card" style="width: 20rem; display:inline-block; padding: 1em;">
      <a class="card-title"><h3 style="font-weight: 800;">{{r.name}}</h3></a>
      <a href="{{url_for('static' , filename = r.car_image)}}">
      <img height="190vh" width = "100vw" src="{{url_for('static' , filename = r.car_image)}}" class="card-img-top" alt="image can't load">
      </a>
      <div class="card-body">
        <h5 style="font-weight: 800;" class="card-title">Price :- ₹{{r.price}}(per day)</h5>

        <p style="font-family: 'Josefin Sans', sans-serif; font-size: larger;" class="card-text">does it come with driver : {{r.driver}}</p>
    </div>
    <h6>Contact {{r.user.username}}</h3>
      <h6>email {{r.user.email}}</h6>
    <a href="{{url_for('cars.single_car' , car_id = r.id)}}">Read More</a>
  </div></div>
{%endfor%}
{%endblock%}
