{%extends 'base.htm'%}
{%block content%}
<div class="container col" align ="center">
  <br><br><br>
  <h1 align = "center">Register</h1>
  <form  method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.name.label}}{{form.name(class = 'form-control col-md-6' ,placeholder="Car Name" )}}
    </div>
    <div class="form-group">
      {{form.seats.label}}{{form.seats(class = 'form-control col-md-6' ,placeholder="seats" )}}
      {%if form.seats.errors%}
        {%for error in form.seats.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.price.label}}(per day){{form.price(class = 'form-control col-md-6' ,placeholder="price" )}}
      {%if form.price.errors%}
        {%for error in form.price.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.driver.label}}{{form.driver()}}

      {%if form.driver.errors%}
        {%for error in form.driver.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.picture.label(class="form-group")}}
      {{form.picture(class="form-control-file col-md-6")}}
      {%if form.picture.errors%}
        {%for error in form.picture.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.submit(class ="btn btn-primary")}}
    </div>
  </form>
</div>
{%endblock%}
