{%extends 'base.htm'%}

{%block content%}
<link rel="stylesheet" href="{{url_for('static', filename="separate.css")}}">
<div class="container" id="home">  
    <section class="hero">
      <center>
        <h1 style="font-size: 800%;  font-family: 'Righteous', cursive; margin-top: 15%; color: white;">
          X-Plore</h1>
        <h3 style="font-family: 'Righteous', cursive; color: white;">Get With Us And Get Away.</h3>
      </center>
      </section>  
      <div id="gets">
       <center> <a href="#about"><button class="start"><span>Get Started</span> </button></a> </center>
      </div>
  </div>    
    <div id="about">
        <div id="spill">
        </div>
        <div style="margin-top: 10%;margin-left: 2%;margin-right: 5%; width: 35%; float: right;justify-content: center; align-items: center; text-align: justify;">
         <center><h1 style="font-size: 320%;">About Us</h1></center><br>
           <p style="font-size: x-large; font-weight: lighter; color: black;">
        We, at X-Plore, provide travel services for our customers and strive to make their experience memorable.
        In these difficult times of the global pandemic, we provide a virtual touring service for our customers as well
        by connecting them with travel guides. We aim to serve our customers with a comfortable experience as well as solving 
        the problem of unemployment in tour guides in these times.
        </p><br>
            <center><p style="font-size: 130%;color: rgb(61, 61, 61);">
            Don't worry about phony travel guides. We verify our tour guides by taking voluntary reviews from our customers about their virtual tour.</p>
            </center></div>
    </div>
    <section id="sec">
        <div class="slide">
            <div class="content">
                <h2>Hiking and Fun</h2>
                
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Admiring the skies</h2>
                
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Road Trips & Adventure</h2>
                
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Places of Solitude</h2>
                
            </div>
        </div>
    </section>
    <div style="height: 70vh;"></div>

   
  
{%endblock%}
