{%extends 'base.htm'%}

{%block content%}
<div style="height: 90vh;"></div>
    <section>
        <div class="slide">
            <div class="content">
                <h2>Hiking and Fun</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Admiring the skies</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Road Trips & Adventure</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Places of Solitude</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
    </section>
    <div style="height: 90vh;"></div>


{%endblock%}
