{%extends 'base.htm'%}

{%block content%}
<link rel="stylesheet" href="{{url_for('static', filename="separate.css")}}">
<div class="container" id="home">  
    <section class="hero">
      <center>
        <h1 style="font-size: 800%;  font-family: 'Righteous', cursive; margin-top: 15%; color: white;">
          Travel Rite</h1>
        <h3 style="font-family: 'Righteous', cursive; color: white;">UnRavel The Right Way to Travel</h3>
      </center>
      </section>  
  </div>    
    <div id="about" style="height: 100vh;background-attachment: fixed; background-size: cover; background-color: white; padding: 10%;">
ABOUT    </div>
    <section id="sec">
        <div class="slide">
            <div class="content">
                <h2>Hiking and Fun</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Admiring the skies</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Road Trips & Adventure</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Places of Solitude</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora quasi consequatur
                quia incidunt, fugiat molestiae perferendis,
                iusto vel dolorem est architecto asperiores
                molestias saepe eaque ipsa distinctio quae ut!
                Consequuntur.</p>
            </div>
        </div>
    </section>
    <div style="height: 70vh;"></div>

   
  
{%endblock%}
