{%extends 'base.htm'%}
{%block content%}

<!-- <div class="container" style="height:25rem;">
  <a href="{{url_for('static' , filename = hotel.picture)}}">
  <img style="width:18rem;" src="{{url_for('static' , filename = hotel.picture)}}" class="card-img-top" alt="image can't load">
</a><br>
  {{hotel.name}}<br>
  {{hotel.other}}<br>
  Pool : {{hotel.pool}}<br>
  Restaurant : {{hotel.restaurant}}<br>
  <p>{{hotel.description}}</p>
</div> -->

<div class="container" style="display: flex; flex-direction: row; margin-top: 10%; margin-left: 10%; margin-right: 10%; 
height: max-content; margin-bottom: 5%;">
  <img style="height:400px; width:450px;" src="{{url_for('static' , filename = hotel.picture)}}" class="card-img-top" alt="image can't load">
<div style="margin-left: 20%; font-size: large;">
 <h1>{{hotel.name}}</h1> <br>
  
  <h4>
    {{hotel.other}}<br>
  Pool : {{hotel.pool}}<br>
  Restaurant : {{hotel.restaurant}}<br>
  
  </h4><br>

  <p>
    
    <h4>Description:<br></h4>
    
    {{hotel.description}}
  
  </p>
  </div>
</div>


{%endblock%}
