{%extends 'base.htm'%}

{%block content%}
<div class="container" style="display: flex; flex-direction: row; margin: 10%;">
  <img style="height:400px; width:450px;" src="{{url_for('static' , filename = car.car_image)}}" class="card-img-top" alt="image can't load">
<div style="margin-left: 20%; font-size: xx-large;">
  Name = {{car.name}} <br>
  No. of Seats = {{car.seats}} <br>
  Price = {{car.price}}(per day) <br>
  
<br>
  <a  href="{{url_for('cars.index', car_id=car.id)}}">Click here to rent.</a>
  <a href="{{url_for('static' , filename = car.car_image)}}">
  <img style="height:300px; width:350px;" src="{{url_for('static' , filename = car.car_image)}}" class="card-img-top" alt="image can't load">
</a><br>
  Driver = {{car.driver}} <br>
  Available = {{car.available}}<br>
  {%if current_user == car.user%}
  <a href="{{url_for('cars.updatecar' , car_id = car.id)}}">Edit</a>
  {%endif%}
</div>
</div>

{%endblock%}
